
@font-face {
  font-family: "biennale_bold";
  src: url("../fonts/Biennale\ Heavy.otf") format('truetype') ;
}

@font-face {
  font-family: "biennale_light";
  src: url("../fonts/Biennale\ Light.otf");
}

@font-face {
  font-family: "biennale_medium";
  src: url("../fonts/Biennale\ Medium.otf");
}

* {
    margin:0;
    padding:0;
  }
  
  
  html,body
  {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  }

  body{
      background-color: #f5f5f5;
  }

  /*ejemplo*/




  
  /* Header */

  .container{
    position: relative;
    text-align: center;

    
  }

  .container img{
    width: 140%; height: 90%; max-width: 120%;
  }

  .title {
    position: absolute;
    top: 35%;
    left: 52%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    font-family: biennale_bold;
  }


  .descripcion{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: biennale_light;
    font-size: 1.8vw;
    color: #464646;
  }
  
  

  .subtitle{
    color: #013C6C;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: biennale_medium;
  }


  /*sidebar hamburger sample1*/
  
  .mcd-menu {
 
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    z-index: 999;
    /* == */
   
    /* == */
  }
  .mcd-menu li {
    position: relative;
    /*float:left;*/
  }
  .mcd-menu li a {
    display: block;
    text-decoration: none;
    font-size: 1vw;
    text-align: center;
    color: #777;
    /*text-align: center;
    border-right: 1px solid #E7E7E7;*/
    
    /* == */
    text-align: left;
    position: relative;
  
    /* == */
    font-family: 'biennale_light';
  }
  
  .item-servicio{

    border-radius: 25px;
    margin-right: 2vw;
    height: 6vh;
    background: #f5f5f5;
    line-height: 6vh;
    text-align: center;
    
  }
  
  .item-servicio:hover{
    box-shadow: -2px -4px 5px 0px #fff, 3px 6px 5px 0px #d6d6d6;
    position: relative;
    z-index: 999;
  }
  
  .mcd-menu li span {
    display: block;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    color: black;
    /*text-align: center;
    border-right: 1px solid #E7E7E7;*/
    font-size: 1.5vw;
    /* == */
    text-align: left;
    position: relative;
  
    /* == */
    font-family: 'biennale_medium';
  }
  
  
  
  
  
  .mcd-menu li ul{
    position: absolute;
    height: auto;
    width: 20vw;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    background: #f5f5f5;
    /*border-top: 4px solid #e67e22;*/
    opacity: 0;
    visibility: hidden;
    transition: all 500ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    /*top: 130px;*/
    z-index: 1000;
    border-radius: 30px;
    /* == */
    left:280px;
    top: 40px;
   
    /* == */
    box-shadow: 6px 10px 26px rgb(23 23 23);
  }
  
  .mcd-menu li ul li{
    margin-left: 0.5vw;
  
  }
  
  
  .mcd-menu li .item-servicio{
    padding-left: 40px;
    
  }
  
  
  
  
  
  
  
  
  /* Navbar */
  
  .menu-sidebar{
    display: none;
  }
  
  .navbar-left{
    text-align: center;
    box-shadow:  -5px -1px 20px 0px rgb(0 0 0);
    height: 100vh;
    width: 7vw;

    background-color: rgb(215,215,215);
   
   
  
  }
  
  .navbar-left img{
    margin-top: 3vw;
  }
  
  .mcd-menu{
   
    margin: 0;
    position: relative;
    top: 48%;
    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  
  .wrapper img { 
    width: 10vw; left: 50%; transform: translate(-50%,0); position: absolute; 
    z-index: 999;
  }
  
  
  .title{
    color: #013C6C;
    font-size: 6.5vw;
    width:70vw;
    
    font-weight: 900;

  
  }

  
  /* -------------
  SIDEBAR-LEFT
  ----------------*/

  .add-border-left{
    width: 7.5vw;
    background: #D6D6D6;
    height: 100vh;
    position: absolute;
    z-index: -1;
   
    
  }
  
  .navbar-left img {
    
      width: 5.5vw;
     
  }
  
  .img-app{
    padding: 0px;
  }
  
  .img-app img{
    width: 35vw;
   
  }
  
  .device-img{
    width: 10vw;
    margin-top: 4vh;
   
  }
  
  span{
  
    font-size: 3.5vw;
    
  }
  
  a{
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  
  
  
  ul li{
    list-style-type: none;
  }
  
  
  
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  
  
  }
  
  .menu{
  width: 4vw;
  margin: 0;
  }
  
  .icon-menu{
  
  background-color: #FFFFFF;
  box-shadow: -4px -4px 0px -7px #696868, 2px 1px 10px -4px #696868;
  border-radius: 55%;
  padding-right: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 3.5vw;
  padding-top: 3.5vw;
  margin-top: 0.5vh;
  
  }
  
  
  
  button{
  
   margin-left: 2rem;
   margin-top: 100rem;
   background: none;
   border: none;
   visibility: hidden;
  
  }
  

  
  .copyright{
    text-align: center;
    margin-top: 3vw;
    
  }
  
  
  .group-img img{
     width: 3.5vw;
  }
  
  .col-logo{
  
    text-align: center;
  
  }
  
  .col-contact h1{
    font-size: 2rem;
  }
  
  .col-social-media h1{
    font-size: 2rem;
  }
  
  .col-contact p{
    font-size: 1.5rem;
  }
  
  
  
  
  .col-logo img{
    width: 8vw;  
  }
  
  .col-contact, .col-social-media{
    margin-top: 3rem;
  }
  
  .copyright p{
    font-size: 1.5rem;
  }
  
  /*Icon-bar*/
  
  .icon-bar{
    position: absolute;
    bottom: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  
  .icon-bar  a img{
    margin-bottom: 2vw;
    display: block;
    text-align: center;
    width: 1.2vw;
  }

  .icon-bar a:nth-child(1) img{
    width: 0.9vw;
   
  }
  
  
  /* Funcioens App*/
  
   
    .funcion-app .group-funcion{
        display: flex;
        position: absolute;
      
        
    }

    div.img-funcion{
        vertical-align: top;
        display: inline-block;
        text-align: center;

    }

  

   .custom-icon{
     width: 15vw;
   }
  

    .funcion-app .group-funcion img{
        width: 8vw;
       
    }

    .funcion-app .img-funcion div{
        
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      margin-top: 2vh;
        box-shadow: -2px -4px 5px 0px #fff, 3px 6px 5px 0px #d6d6d6;
    }



    .funcion-app .group-funcion span{
        font-size: 1.1vw;
        display: block;
        color: #013C6C;
        font-family: biennale_light;
    }

    .funcion-app .group-funcion .img-funcion{
        margin-left: 3vw;
    }
  
    
    .main-title{
      display: inline-block;
      position: relative;
   
    }
    .funcion-app{
      position: absolute;
      right: 70vw;
      bottom: 14vh;
      color: white;
      padding: 4px;
      font-size: 17px;
    
    }
  
  

  
  /* Funcioens App */
  
  .app{
    visibility: hidden;
  }
  
  .clientes{
    margin-top: 25vh;
    width: 100%;
    height: 60vw;
    margin-bottom: 35vh;
    /* display: flex; */
    /* display: inline-block; */
    display: initial;
  }
  
  .clientes .funcion-img{
    background: url("../imagenes/ELEMENTOS-09.png") no-repeat center center / cover;
    width: 100%;
    height: 135vh;
    margin-bottom: 10vh;
    display: flex;
    margin-top: 18vh;
  }
  
 
  
  .background-image{
  
  background:url('../imagenes/ELEMENTOS-25.png') no-repeat center center / cover ;
  height: 130vh;
  position: relative;
 
  z-index: 2;
  
  }
  
  .color-box {
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      border: 2px solid black;
      float: left;
      width: 25px;
      height: 25px;
      cursor: pointer;
      margin-left: 10px;
  }
  
  @keyframes color1{
      0%{}
      100%{
    
    }
  }
  
  #color-box-input1:checked ~ .background-image::before{
  
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(14 33 56 / 80%);
  }
  #color-box-input1 {
    display: none;
    }
  
  
  
  
  /*
  .background-image::before {
  
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(14 33 56 / 80%);
  }*/
  
  
  
    
    .label {
      position: absolute;
      top: 60%;
      left: 58%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 1.5vw;
      font-weight: bold;
      text-align: left;
    }
  
    .label2 {
      position: absolute;
      top: 30%;
      left: 33%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 2vw;
    }
  
    .label3 {
      position: absolute;
      top: 45%;
      left: 34%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 3.5vw;
    }
  
    .label4{
      position: absolute;
      top: 60%;
      left: 58%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 1.5vw;
      font-weight: bold;
    }
  
    .label5{
      position: absolute;
      top: 45%;
      left: 35%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 3.1vw;
    }
  
  
    .label6{
      position: absolute;
      top: 60%;
      left: 55%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 1.5vw;
      font-weight: bold;
    }
  
    .label7{
      position: absolute;
      top: 45%;
      left: 42%;
      transform: translate(-50%, -50%);
      color: #013C6C;
      font-size: 4vw;
    }
  
  
  
  
  .main-intro{
    margin-right: 0rem;
  }
  
  /*footer*/
  .bi-geo-alt-fill{
    font-size: 1.7vw;
      margin-left: 6px;
      color: black;
      stroke-width: 1px;
  }
  
  .contact-location{
    vertical-align: bottom; 
    width: 4vw; 
    margin-left: 2vw;
  }
  
  
  .col-logo{
    margin-top: auto;
   margin-bottom: auto;
  }
  
  .col-contact h1{
    font-size: 1vw;
    font-family: biennale_medium;
    margin-bottom: 3vh;
  }
  
  .footer-text h1{
    margin-bottom: 1.6vh;
  }
  
  
  .col-contact p{
   
    font-size: 1vw;
    color: #464646;
    line-height: 15px;
    font-family: biennale_light;
  }
  
  .col-social-media img{
    width: 10vh;
  }
  
  .col-social-media h1{
    font-size: 1vw;
    font-family: biennale_medium;
  }
  
  .copyright p{
    font-size: 1vw;
    color: #464646;
    font-family: biennale_light;
  }
  
  @media(max-width:2100px){
    .img-app{
      margin-left: 5vw;
    }
  
  
  
  
  }
  
  
  /* Responsive */
  
  @media(max-width: 1700px){
  
   
   
  
  }
  
  
  @media(max-width:  1200px){
  
    
  /* Funcioens App*/
  





/* Funcioens App */
    
    
    /*footer*/
    .group-img img{
      width: 4vw;
    }
    
    
    .col-sm-3 h1{
      font-size: 2vw;
      font-weight: bold;
    }
    
    .logo{
      width: 18vw;
    }
    
    .col-contact{
    
      width: 50%;
      margin-top: 3rem;
      
    }
    
    .col-logo{
      text-align: center;
    }
    
    .col-contact p{
      font-size: 1vw;
      text-align: center;
    } 
    
    .col-contact h1{
      font-size: 2vw;
      font-weight: bold;
      text-align: center;
    }
  
    .col-social-media{
      text-align: center;
    }
  
  }
  
  
  
  @media (max-width: 960px) {
  
    .header{
      display: none;
    }
  
    
  
    .main-title{
      padding: 0 !important;
       margin: 0 !important;
      margin-left: 4vh !important;
      margin-top: 5vh !important;
    }
  
  
  .group-device-img img{
    width: 8vh;
  }
  
    .device-img{
     
      width: 20vw;
      margin-top: 4vh;
     
      margin-left: auto;
      margin-right: auto;
     
    }
    
    
  
  
  
  
    .img-app{
       
      margin-left: 0vw;
    }
  
  
    .app-img{
      text-align: center;
     
    }
  
  
    .img-app{
      width: 10vw;
    }
  
  
   
    
  
  }
  
  
  
  
  @media (max-width: 780px) {
  
    

    .app{
      display: none;
    }
  
  html {
    font-size: 45%;
  }
  
  
  .logo{
    width: 18vw;
  }
  
  .group-device-img img{
    width: 8vw;
  }
  
  .col-contact{
  
    width: 50%;
    margin-top: 3rem;
    
  }
  
  .col-contact p{
    font-size: 2vw;
    text-align: center;
  } 
  
  .col-contact h1{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
  }
  
  .col-social-media h1{
    font-size: 2vw;
  }
  
  
  
  
  }
  
  
  @media (max-width: 576px) {
  
    /*---------Section 1-----------*/

    .container img{
      width: 100%;
      height: 109vh;
     
      content: url("../imagenes/linea-punteada-funcion.png")  ;
      
  
    }

    .main-title{
      margin-left: 0px !important;
    }

    .title {
      position: absolute;
      top: 18%;
      left: 52%;
      font-size: 10vw;
      transform: translate(-50%, -50%);
      font-family: biennale_bold; 
    }
  
  
    .descripcion{
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: biennale_light;
      font-size: 2.5vw;
      color: #464646;
    }
    
    
  
    .subtitle{
      color: #013C6C;
      position: absolute;
      top: 31%;
      left: 50%;
      font-size: 4.5vw;
      transform: translate(-50%, -50%);
      font-family: biennale_medium;
    }

    .funcion-app{
      position: absolute;
      right: 70vw;
      bottom: 14vh;
      color: white;
      padding: 4px;
      font-size: 17px;
      margin-top: 7vh;
    }


    .funcion-app{
      position: absolute;
      right: -6px;
      left: 0;
      top: 36%;
    }

    .funcion-app .group-funcion{
      margin-top: 0vh;
      width: 100vw;
      text-align: center;
      display: initial;
      position: initial;
    }
    
    .funcion-app .group-funcion img{
      position: relative;
      width: 15vw;
      display: block;
      margin: auto;
      margin-top: 2vh;
      
    }

    .funcion-app .group-funcion .img-funcion{
      display: block;
      margin-left: 0;
   
    }

    .group-funcion .img-funcion div{
      margin-left: 40vw;
    }


    .funcion-app .group-funcion .img-funcion div{
     
      font-family: arial;
      margin: auto;
      text-align: center;
      display: inline-block;  
      width: auto; 
      margin-top: 1vh;
      background: #f5f5f5;
        }



        .funcion-app .group-funcion .img-funcion div span{
     
          font-size: 2vw;
          
        }
    
    
        /*--------End of Section1----------*/

        .wrapper img{
          z-index: 0;
        }
    
        .background-image {
          height: 97vh;
          z-index: unset;
        }

        .clientes img{
          height: 113vw;
          margin-bottom: 4vh;
          margin-top: 20vh;
          background-size: none;
        }

        .clientes .funcion-img{
          height: 83vh;
          margin-bottom: 7vh;
          margin-top: 22vh;
        }


        

        .navbar-left{
          display: none;
        }
    
        .line-header{
          height: 1.5vh;
          margin-top: 2vh; 
          background-color: #D6D6D7;
          box-shadow: -24px 1px 40px 159px #d0d0d1, inset 2px 3px 6px -2px #6f6f6f;
        }
        
        .wrapper .center{
          position: absolute;
          top: 0.5vh;
         
        }
      
      
        #menu img{
          width: 18vw;
        }
      
        #menu .icon-media{
         
          text-align: center;
        }
      
        #menu .icon-media img{
          width: 5vh;
        }
      
        .app{
          display: block;
          visibility: visible;
          height: 100%;
          position: fixed; 
          top: 0;
          left: 0;
          overflow : hidden;
          z-index: 999;
          width: 70vw;
        }
      
      
       
        .sidebar{
         
          position: absolute;
          visibility: hidden;
          left: -280px;
          transition: 1s;
          background: #fff;
          width: 40vh;
          
        }
      
        
      
        .app:hover .sidebar{
          transition: 1s;
          left: 0;
          visibility: visible;
        }
      
      
        button{
          margin-top: 3vw;
          margin-left: 2rem;
          background: none;
          border: none;
          visibility: visible;
        
        
        }
      
        .main-title{
          margin-top: 10vh;
          
        }
      
        .wrapper .center{
          width: 19vw;
        }
      
      
      
        
       /*footer*/

      
     
 .bi-geo-alt-fill{
  font-size: 4vw;
    
    stroke-width: 1px;
}

.footer-text h1{
  margin-bottom:  2.2vh;
}

.col-logo img{
  width: 20vw;
}



 .footer-text{
    margin-left: 8vw;
 }

 .footer-2{
   margin-right: 8vw;
 }
  
  .icon-bar{
    position: absolute;
    text-align: center;
    bottom: 21%;
    right: 6px;
  }
  
  .icon-bar a img {
    margin-bottom: 4vw;
    display: inline;
    margin-right: 5vw;
    text-align: center;
    display: block;
    width: 3vw;
  }

  .icon-bar a:nth-child(1) img{
    width: 2vw;
   
  }


  .group-title{
    margin-right: 0;
  }

  .group-device-img img{
    text-align: center;
  }

  .col-social-media img{
    width: 10vw;
  }

 

  .img-app{
   
    margin-left: 23%;
   
  }

  .img-app img{
    width: 60vw;
   
  }

  .copyright p{
    font-size: 2vw;
  
  }
        /*SideBar*/
      
      
        .menu-sidebar{
          display: block;
        }
        
        #menuToggle
        {
          display: block;
          position: relative;
          top: 0px;
          left: 0px;
          
          z-index: 8;
          
          -webkit-user-select: none;
          user-select: none;
        }
        
        #menuToggle a
        {
          text-decoration: none;
          color: #232323;
          transition: color 0.3s ease;
        }
        
       
        
        #menuToggle input
        {
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: -7px;
          left: -5px;
          
          cursor: pointer;
          
          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */
          
          -webkit-touch-callout: none;
        }
        
        /*
         * Just a quick hamburger
         */
        #menuToggle button
        {
         
         box-sizing: border-box;
         
          position: relative;
        
          
          transform-origin: 4px 0px;
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        #menuToggle span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        /* 
         * Transform all the slices of hamburger
         * into a crossmark.
         */
        #menuToggle input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #232323;
        }
        
        /*
         * But let's hide the middle one.
         */
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        /*
         * Ohyeah and the last one should go the other direction
         */
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }
        
        /*
         * Make this absolute positioned
         * at the top left of the screen
         */
        #menu
        {
         
          position: absolute;
          width: 80%;
          margin: -100px 0 0 -50px;
          padding: 40px;
          padding-right: 0;
          padding-bottom: 20px;
          background: #ededed;
          list-style-type: none;
          border-radius: 25px;
          -webkit-font-smoothing: antialiased;
          /* to stop flickering of text in safari */
          
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        
        #menu li
        {
          font-size: 4vw;
        }
      
        #menu li a{
          line-height: 30px;
        }
        
        #menu li span{
          font-weight: bolder;
          font-family: biennale_medium;
        }
      
        nav ul li .li-servicio{
          display: none;
        }
      
        #menu li:nth-child(2),#menu li:nth-child(3), #menu li:nth-child(4),
        #menu li:nth-child(5),#menu li:nth-child(6){
          margin-left: 4vw;
        }
      
        .servicio{
          display: inline-block ;
          text-align: left;
          margin-left: 3vw;
        }
      
        #menu .servicio  span{
           font-weight: 500;
           font-family: biennale_light;
        }
      
        
        #li-servicio .servicio{
          margin-left: -1vw;
        }
      
        #li-nosotros .servicio{
          margin-left: -5vw;
        }
        /*
         * And let's slide it in from the left
         */
        #menuToggle input:checked ~ ul
        {
          transform: none;
        }

    }

  
  
  
  
   
  
  /* End of Responsive */
  